@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular-400.woff2") format("woff2"), url("../fonts/roboto-regular-400.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-medium-500.woff2") format("woff2"), url("../fonts/roboto-medium-500.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-bold-700.woff2") format("woff2"), url("../fonts/roboto-bold-700.woff") format("woff"); }

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-black-900.woff2") format("woff2"), url("../fonts/roboto-black-900.woff") format("woff"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000000; }

body.modal-active {
  overflow: hidden; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.body_locked {
  overflow: hidden; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.fixed-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .fixed-container {
      max-width: 1024px;
      padding: 0 40px; } }
  @media (max-width: 1024px) {
    .fixed-container {
      max-width: 320px;
      padding: 0 20px; } }

.casework-fixed {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 93px 0 103px; }
  @media (max-width: 1200px) {
    .casework-fixed {
      padding: 90px 40px 101px; } }
  @media (max-width: 1024px) {
    .casework-fixed {
      padding: 43px 19px 51px; } }

.casework {
  flex-basis: 100%;
  background-color: #fbfbfb; }
  .casework__title {
    flex-basis: 100%;
    margin: 0 0 104px;
    text-align: center;
    line-height: 59.73px;
    font-size: 54px;
    font-weight: 700;
    color: #1f1f24; }
  .casework__btn {
    position: absolute;
    top: 375px;
    z-index: 99;
    padding: 30px;
    font-size: 0;
    background: url("../img/arrow.png") no-repeat;
    box-shadow: -5px 0px 4px 0px #f3f3f3;
    border-radius: 41px;
    border: none;
    cursor: pointer; }
  .casework__btn_left {
    left: -20px; }
  .casework__btn_right {
    right: -20px;
    transform: scale(-1, 1); }
  @media (max-width: 1200px) {
    .casework__title {
      margin: 0 0 100px 0; }
    .casework__btn {
      display: none; } }
  @media (max-width: 1024px) {
    .casework__title {
      flex-basis: 87%;
      margin: 0 0 43px 0;
      line-height: 35px;
      font-size: 30px;
      font-weight: 700;
      color: #1f1f24; } }

.footer-fixed {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 81px 0 78px; }
  @media (max-width: 1200px) {
    .footer-fixed {
      padding: 100px 40px 91px; } }
  @media (max-width: 1024px) {
    .footer-fixed {
      padding: 42px 20px 82px;
      flex-wrap: wrap; } }

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%; }

.header-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 0; }
  @media (max-width: 1200px) {
    .header-fixed {
      position: relative;
      padding: 30px 40px 0; } }
  @media (max-width: 1024px) {
    .header-fixed {
      padding: 28px 20px 0; } }

.header {
  background-color: #fbfbfb;
  color: #1f1f24; }

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.present-fixed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 200px 0 237px; }
  @media (max-width: 1200px) {
    .present-fixed {
      padding: 228px 0 229px 40px; } }
  @media (max-width: 1024px) {
    .present-fixed {
      justify-content: center;
      padding: 423px 0 0;
      background: url(../img/photo-dontsov.png) no-repeat 81px 31.5%/222px, url(../img/ellipse.svg) no-repeat -45px 38%/382px; } }

.present {
  flex-basis: 100%;
  background: url(../img/photo-dontsov.png) no-repeat 1186px 100%/446px, url(../img/ellipse.svg) no-repeat 1107px 100%/813px, #fbfbfb; }
  .present__title {
    flex-basis: 79%;
    margin: 0 0 45px;
    font-size: 80px;
    font-weight: 900;
    color: #1f1f24; }
  .present__aboutme {
    display: block;
    margin: 8px 0 0;
    padding: 0;
    font-size: 25px;
    font-weight: 300;
    color: #8993ad; }
  @media (max-width: 1200px) {
    .present {
      background: url(../img/photo-dontsov.png) no-repeat 551px 100%, url(../img/ellipse.svg) no-repeat 478px 100%/720px, #fbfbfb; }
      .present__title {
        margin: 0 0 44px;
        padding: 0px 290px 0 0;
        font-size: 54px;
        font-weight: 900;
        color: #1f1f24; }
      .present__aboutme {
        margin: 16px 0 0; } }
  @media (max-width: 1024px) {
    .present {
      background: linear-gradient(180deg, #fbfbfb 0%, #ffffff 77%); }
      .present__title {
        flex-basis: 95%;
        margin: 0 0 25px;
        padding: 0;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        color: #1f1f24; }
      .present__aboutme {
        margin: 8px 0 0;
        font-size: 16px;
        font-weight: 900;
        color: #8993ad;
        line-height: normal; } }

.price-fixed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 72px 0 83px 0; }
  @media (max-width: 1200px) {
    .price-fixed {
      padding: 75px 40px 78px; } }
  @media (max-width: 1024px) {
    .price-fixed {
      padding: 40px 20px 43px; } }

.price {
  flex-basis: 100%;
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%); }

.services-fixed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 82px 0 100px; }
  @media (max-width: 1200px) {
    .services-fixed {
      padding: 79px 40px 105px; } }
  @media (max-width: 1024px) {
    .services-fixed {
      padding: 39px 20px 51px; } }

.services {
  flex-basis: 100%; }
  .services__title {
    flex-basis: 100%;
    margin: 0 0 85px 0;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    color: #1f1f24; }
  @media (max-width: 1200px) {
    .services__title {
      margin: 0 0 86px 0; } }
  @media (max-width: 1024px) {
    .services__title {
      margin: 0 0 33px 0;
      font-size: 30px;
      font-weight: 700;
      color: #1f1f24; } }

.btn-menu {
  position: relative;
  width: 45px;
  height: 39px;
  padding: 0;
  background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  box-sizing: border-box;
  background-clip: content-box;
  border-top: 19px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: none;
  border-right: none;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out; }
  @media (min-width: 1201px) {
    .btn-menu {
      display: none; } }
  @media (max-width: 1024px) {
    .btn-menu {
      width: 24px;
      height: 18px;
      vertical-align: top;
      border-top: 9px solid transparent;
      border-bottom: 6px solid transparent; } }
  .btn-menu::after, .btn-menu::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    right: 0;
    background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
    transform: rotate(0deg);
    transition: all 0.5s ease; }
    @media (max-width: 1024px) {
      .btn-menu::after, .btn-menu::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%; } }
  .btn-menu::before {
    top: -13px; }
    @media (max-width: 1024px) {
      .btn-menu::before {
        top: -7px; } }
  .btn-menu::after {
    bottom: -13px; }
    @media (max-width: 1024px) {
      .btn-menu::after {
        bottom: -7px; } }
  .btn-menu_toggle {
    background: transparent; }
  .btn-menu_toggle.btn-menu::before {
    top: 0;
    transform: rotate(135deg); }
  .btn-menu_toggle.btn-menu::after {
    bottom: 0;
    transform: rotate(-135deg); }

.btn {
  flex-basis: 207px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  color: #f53f4f;
  border: 1px solid #f82370;
  background-color: transparent; }
  .btn_orange {
    color: #ffffff;
    background-color: #ff4e2e;
    border: none; }
  .btn_section {
    flex-basis: 270px;
    padding: 19px 0;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff; }
    @media (max-width: 1200px) {
      .btn_section {
        flex-basis: 320px;
        padding: 22px 0; } }
    @media (max-width: 1024px) {
      .btn_section {
        flex-basis: 280px;
        padding: 17px 0;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff; } }
  .btn_footer {
    flex-basis: 248px;
    margin: 0 0 35px 0;
    padding: 10px 0; }
    @media (max-width: 1024px) {
      .btn_footer {
        flex-basis: 280px;
        padding: 17px 0;
        margin: 0 0 49px 0;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #ff4e2e;
        border: none; } }
  @media (max-width: 1024px) {
    .btn_rnd {
      flex-basis: 26px;
      overflow: hidden;
      width: 26px;
      height: 26px;
      font-size: 0;
      color: #fbfbfb;
      border-radius: 50%;
      border: 1px solid #fa0891;
      background: url(../img/call-answer.png) no-repeat center; } }

.casework-wrapper {
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 78px;
  flex-basis: 1170px; }
  @media (max-width: 1200px) {
    .casework-wrapper {
      flex-basis: 100%;
      margin: 0 0 101px 0; } }
  @media (max-width: 1024px) {
    .casework-wrapper {
      margin: 0 0 49px 0; } }

.contactlist {
  font-size: 25px;
  font-weight: 400;
  color: #1f1f24;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 1200px) {
    .contactlist {
      flex-basis: 26%; } }
  @media (max-width: 1024px) {
    .contactlist {
      font-size: 20px;
      font-weight: 500;
      color: #8993ad; } }
  .contactlist__item {
    margin: 0 0 31px 0; }
    @media (max-width: 1200px) {
      .contactlist__item {
        margin: 0 0 25px 0; } }
    .contactlist__item:last-child {
      margin: 0; }
    @media (max-width: 1024px) {
      .contactlist__item:nth-child(1) {
        margin: 0 0 22px 0; } }

.footer-address {
  flex-basis: 23%;
  font-style: normal; }
  @media (max-width: 1200px) {
    .footer-address {
      margin-top: 4px; } }
  @media (max-width: 1024px) {
    .footer-address {
      margin: 0 0 21px 0; } }

.footer-blackbar {
  flex-basis: 100%;
  background-color: #31293c; }
  @media (max-width: 1024px) {
    .footer-blackbar {
      line-height: normal; } }

.footer-callback {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  flex-basis: 23%; }
  @media (max-width: 1200px) {
    .footer-callback {
      flex-basis: 26.2%; } }
  @media (max-width: 1024px) {
    .footer-callback {
      flex-basis: 100%;
      line-height: normal; } }

.footer-copyright {
  display: block;
  margin: 0;
  padding: 29px 0 32px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background-color: #31293c; }
  @media (max-width: 1200px) {
    .footer-copyright {
      padding: 26px 0 31px; } }
  @media (max-width: 1024px) {
    .footer-copyright {
      padding: 18px 0 18px;
      font-size: 12px;
      font-weight: 400;
      color: #ffffff; } }

.header-contact {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 50%; }
  .header-contact__telephone {
    margin: 5px 30px 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #1f1f24; }
  @media (max-width: 1200px) {
    .header-contact {
      flex-basis: 67%; } }
  @media (max-width: 1024px) {
    .header-contact {
      flex-basis: 78%;
      flex-grow: 0;
      justify-content: space-between; }
      .header-contact__telephone {
        align-self: flex-start;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #1f1f24; } }

.header-nav {
  flex-basis: 23%; }
  @media (max-width: 1200px) {
    .header-nav {
      flex-basis: 5%; } }

.menulist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .menulist__item {
    flex-basis: 51%; }
  .menulist__item + .menulist__item {
    margin-left: 30px; }
  .menulist__link_active {
    text-decoration-line: underline;
    color: #ff4e2e; }
  .menulist_active {
    left: 40px;
    visibility: visible;
    transform: scale(1); }
  .menulist_footer {
    display: block;
    flex-basis: 15%; }
  .menulist__item_footer {
    margin: 0; }
  .menulist__item_footer + .menulist__item_footer {
    margin: 12px 0 0; }
  .menulist__link_grey {
    font-size: 16px;
    font-weight: 400;
    color: #8993ad; }
  @media (max-width: 1200px) {
    .menulist__item + .menulist__item {
      margin-left: 0;
      margin-top: 30px; }
    .menulist_toogle {
      position: absolute;
      top: 90px;
      left: 0;
      visibility: hidden;
      overflow: hidden;
      flex-wrap: wrap;
      width: 85px;
      height: auto;
      transform-origin: left top;
      transform: scale(0);
      transition: all 0.4s ease-in-out; }
    .menulist_active {
      left: 40px;
      visibility: visible;
      transform: scale(1); }
    .menulist_footer {
      flex-basis: 15%; }
    .menulist__item_footer + .menulist__item_footer {
      margin: 8px 0 0; } }
  @media (max-width: 1024px) {
    .menulist__item + .menulist__item {
      margin-top: 15px; }
    .menulist_footer {
      flex-basis: 100%;
      margin: 0 0 39px;
      padding: 0; }
    .menulist_active {
      top: 60px;
      left: 20px; }
    .menulist__item_footer + .menulist__item_footer {
      margin: 10px 0 0; }
    .menulist__link_grey {
      font-size: 15px;
      font-weight: 400;
      color: #8993ad; } }

.networklist {
  display: flex;
  justify-content: space-between;
  flex-basis: 74%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .networklist__item__link {
    display: block;
    padding: 14px 17px;
    background: url("../img/network.png");
    background-repeat: no-repeat; }
  .networklist__item:nth-child(1) .networklist__link {
    background-position-x: 0%; }
  .networklist__item:nth-child(2) .networklist__link {
    background-position-x: 35%; }
  .networklist__item:nth-child(3) .networklist__link {
    background-position-x: 69%; }
  .networklist__item:nth-child(4) .networklist__link {
    background-position-x: 104%; }
  @media (max-width: 1200px) {
    .networklist {
      flex-basis: 81%; } }
  @media (max-width: 1024px) {
    .networklist {
      flex-basis: 71%; } }

.price-description {
  flex-basis: 80%;
  margin: 29px 0 0 15px;
  padding: 0;
  line-height: 30px;
  text-indent: -12px;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff; }
  @media (max-width: 1200px) {
    .price-description {
      padding: 0 0 0 12px;
      margin: 31px 0 0 0; } }
  @media (max-width: 1024px) {
    .price-description {
      flex-basis: 100%;
      margin: 33px 0 0 0;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff; } }

.price-offer {
  display: flex;
  flex-basis: 82%;
  flex-wrap: wrap;
  margin: 0;
  line-height: 60px;
  letter-spacing: -1.2px;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff; }
  @media (max-width: 1200px) {
    .price-offer {
      flex-basis: 100%; } }
  @media (max-width: 1024px) {
    .price-offer {
      margin: 0;
      line-height: 40px;
      letter-spacing: 0;
      font-size: 28px;
      font-weight: 700;
      color: #ffffff; } }

.serviceslist {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 0 94px; }
  @media (max-width: 1200px) {
    .serviceslist {
      padding: 0 110px;
      margin: 0 0 18px 0; } }
  @media (max-width: 1024px) {
    .serviceslist {
      justify-content: center;
      padding: 0;
      margin: 0 0 47px 0; } }
  .serviceslist__item {
    flex-basis: 25%;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #8993ad; }
    @media (max-width: 1200px) {
      .serviceslist__item {
        flex-basis: 46%; } }
    @media (max-width: 1024px) {
      .serviceslist__item {
        flex-basis: 80%;
        margin-bottom: 45px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        color: #8993ad; } }
    .serviceslist__item::before {
      content: " ";
      display: block;
      height: 74px;
      width: 100%;
      margin: 0 0 15px; }
      @media (max-width: 1200px) {
        .serviceslist__item::before {
          margin: 0 0 18px 0;
          background-size: 60px; } }
      @media (max-width: 1024px) {
        .serviceslist__item::before {
          margin: 0 0 5px 0; } }
    .serviceslist__item:nth-child(1)::before {
      background: url("../img/landing.png") no-repeat center; }
      @media (max-width: 1024px) {
        .serviceslist__item:nth-child(1)::before {
          background-size: 60px; } }
    .serviceslist__item:nth-child(2)::before {
      background: url("../img/responsive.png") no-repeat center; }
      @media (max-width: 1024px) {
        .serviceslist__item:nth-child(2)::before {
          background-size: 60px; } }
    .serviceslist__item:nth-child(3)::before {
      background: url("../img/programming.png") no-repeat center; }
      @media (max-width: 1024px) {
        .serviceslist__item:nth-child(3)::before {
          background-size: 60px; } }
    .serviceslist__item:nth-child(4)::before {
      background: url("../img/coding.png") no-repeat center; }
      @media (max-width: 1024px) {
        .serviceslist__item:nth-child(4)::before {
          background-size: 60px; } }
    @media (max-width: 1200px) {
      .serviceslist__item:nth-child(2n+1) {
        margin-bottom: 76px; } }
    @media (max-width: 1024px) {
      .serviceslist__item:nth-child(2n+1) {
        margin-bottom: 45px; } }
    @media (max-width: 1024px) {
      .serviceslist__item:nth-child(2n) {
        margin-bottom: 45px; } }
    @media (max-width: 1024px) {
      .serviceslist__item:last-child {
        margin-bottom: 0; } }

.slider-controls {
  display: none; }
  .slider-controls__btn {
    display: none;
    font-size: 0; }
  @media (max-width: 1200px) {
    .slider-controls {
      display: flex;
      flex: 100%;
      justify-content: center;
      margin-bottom: 100px; }
      .slider-controls__btn {
        display: block;
        padding: 9px;
        border-radius: 50%;
        border: 0;
        background-color: #ebebeb; }
      .slider-controls__btn + .slider-controls__btn {
        margin-left: 30px; }
      .slider-controls__btn_active {
        background-color: #ff4e2e; } }
  @media (max-width: 1024px) {
    .slider-controls {
      margin-bottom: 50px; }
      .slider-controls__btn {
        padding: 5px; }
      .slider-controls__btn + .slider-controls__btn {
        margin-left: 15px; } }

.worklist {
  flex-basis: 100%;
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none; }
  .worklist__item {
    display: inline-block; }
  .worklist__item + .worklist__item {
    margin-left: 30px; }
  .worklist__img {
    margin: 0 0 12px; }
  .worklist__title {
    width: 370px;
    margin: 0;
    line-height: 59.73px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #8993ad; }
  @media (max-width: 1200px) {
    .worklist__item + .worklist__item {
      margin-left: 36px; }
    .worklist__img {
      margin: 0 0 2px 0; }
    .worklist__title {
      width: 455.5px;
      padding: 0 5px;
      font-size: 25px;
      font-weight: 500;
      color: #8993ad; } }
  @media (max-width: 1024px) {
    .worklist__img {
      margin: 0 0 -6px 0; }
    .worklist__title {
      width: 282px;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      color: #8993ad;
      line-height: 51.63px; }
    .worklist__item + .worklist__item {
      margin-left: 10px; } }

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.9s cubic-bezier(0.55, 0, 0.1, 1); }
  .modal-overlay_active {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible; }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fbfbfb; }
  .form_modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 600px;
    min-width: 310px;
    height: 500px;
    max-height: 100%;
    padding: 25px 0 0;
    transform: translate(-50%, -50%);
    transition: transform 0.9s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 105; }
  .form_visible {
    top: 50%;
    left: 50%;
    visibility: visible; }
  .form__title {
    flex-basis: 100%;
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #1f1f24; }
  .form__btnclose {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    background-clip: content-box;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: none;
    border-right: none;
    font-size: 0; }
    .form__btnclose::before, .form__btnclose::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      right: 0;
      background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%); }
    .form__btnclose::before {
      top: 0;
      transform: rotate(135deg); }
    .form__btnclose::after {
      bottom: 0;
      transform: rotate(-135deg); }
  .form__text {
    flex-basis: 90%; }
  .form__input {
    flex-basis: 45%;
    padding: 11px 5px;
    border: 1px solid #f82370; }
  .form__input:first-of-type {
    margin-right: 25px; }
  @media (max-width: 1200px) {
    .form__input {
      flex-basis: 320px;
      margin-bottom: 25px; }
    .form__input:first-of-type {
      margin-right: 0; }
    .form__text {
      flex-basis: 320px; } }
  @media (max-width: 1024px) {
    .form_modal {
      width: 310px;
      height: 400px;
      max-height: 100%; }
    .form__input {
      flex-basis: 280px; }
    .form__text {
      flex-basis: 280px;
      font-size: 10px;
      font-weight: 400;
      color: #1f1f24; } }
