.header-contact	{
  display: flex;

  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  &__telephone {
    margin: 0 30px 0 0;

    @include text(700, 25px, $black);
  }  

  @media (max-width: 1024px) {
    flex-basis: 78%;
    flex-grow: 0;

    justify-content: space-between;

    &__telephone {
      align-self: flex-start;

      margin: 0;

      @include text(700, 18px, $black);
    }
  }
}