.modal-overlay {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  z-index: 102;
  
  background-color: rgba(#000, 0.6);
  opacity: 0;
  visibility: hidden;
}

.body-form_locked > .modal-overlay_form {
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;

  transition: opacity $speed $easing, visibility $speed $easing;
}

.body-message_locked > .modal-overlay_message {
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;

  transition: opacity $speed $easing, visibility $speed $easing;
}