html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-form_locked {
  overflow: hidden;
}

.body-message_locked {
  overflow: hidden;
}