$gradient: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);

$bg-grey: #fbfbfb;
$bg-dark-blue: #31293c;

$black: #1f1f24;
$white: #ffffff;
$orange: #ff4e2e;
$grey: #8993ad;

$btn-widtn-desktop: 270px;
$btn-widtn-tablet: 320px;

$easing: cubic-bezier(.55,0,.1,1);
$speed: 0.9s;

$width-slider: 1170px;